.Table {
  border: none;
  padding: 5px;
  font: 24px/36px sans-serif;
  border: solid 1px;
  margin: 20px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgb(94, 95, 92);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(115, 116, 113);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
